.keyboard {
    height: 46.4vh;
    width: 100%;
    margin-top: 1.6vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 3.7vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, calc(min(calc(44.8vh/4),calc(100%*(4/23)))));
    column-gap: 8.7%;
    row-gap: auto;
    list-style: none;
    border-top: rgba(255, 255, 255, 0.35) solid 2px;
  }
  